<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="FernandoBalmaceda" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Mukta+Vaani:300,400,500,600,700|Open+Sans:300,400,600,700,800,900" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />

	<!-- Bootstrap Select CSS -->
	<link rel="stylesheet" href="css/components/bs-select.css" type="text/css" />

	<!-- car Specific Stylesheet -->
	<link rel="stylesheet" href="demos/car/car.css" type="text/css" />
	<link rel="stylesheet" href="demos/car/css/car-icons/style.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="demos/car/css/fonts.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- Document Title
	============================================= -->
	<title>Fernando Balmaceda | Movie Website Project</title>

	<style>
		/* Revolution Slider */
		.ares .tp-tab { border: 1px solid #eee; }
		.ares .tp-tab-content { margin-top: -4px; }
		.ares .tp-tab-content { padding: 15px 15px 15px 110px; }
		.ares .tp-tab-image { width: 80px;height: 80px; }

	</style>

</head>

<body class="stretched side-push-panel" data-loader-html="<div><img src='demos/car/images/page-loader.gif' alt='Loader'></div>">

	<!-- Side Panel Overlay -->
	<div class="body-overlay"></div>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="static-sticky full-header clearfix">

			<div id="header-wrap">

				<div class="container-fluid clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="with-arrows clearfix">
						<ul>
							<li class="current"><a href="#"><div>WEBSITE MOVIE TRAILERS</div></a></li>
						</ul>
					</nav><!-- #primary-menu end -->
				</div>

			</div>

			<div id="header-trigger"><i class="icon-line-menu"></i><i class="icon-line-cross"></i></div>

		</header><!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element swiper_wrapper full-screen clearfix" data-dots="true" data-loop="true" data-grab="false">

			<div class="swiper-container swiper-parent">
				<div class="swiper-wrapper">
					<div class="swiper-slide dark" style="background-image: url('imgs/alien_2.jpg'); background-size: cover">
						<div class="container clearfix">
							<div class="slider-caption top-left center">
								<h2 class="font-primary nott">ALIEN RESURRECTION</h2>
								<p class="t300 font-primary d-none d-sm-block">In space no one can hear you scream</p>
								<a href="#" class="button button-rounded button-border button-white button-light nott">View Trailer</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('imgs/predator_2.jpg'); background-size: cover">
						<div class="container clearfix">
							<div class="slider-caption top-left center">
								<h2 class="font-primary nott">PREDATOR</h2>
								<p class="t300 font-primary d-none d-sm-block">Hunter is back</p>
								<a href="#" class="button button-rounded button-border button-white button-light nott">View Trailer</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('imgs/terminator.jpg'); background-size: cover">
						<div class="container clearfix">
							<div class="slider-caption top-left center">
								<h2 class="font-primary nott">TERMINATOR</h2>
								<p class="t300 font-primary d-none d-sm-block">Welcome to the jungle baby</p>
								<a href="#" class="button button-rounded button-border button-white button-light nott">View Trailer</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('imgs/starwars_2.jpg'); background-size: cover">
						<div class="container clearfix">
							<div class="slider-caption top-left center">
								<h2 class="font-primary nott">STAR WARS</h2>
								<p class="t300 font-primary d-none d-sm-block">The last jedi</p>
								<a href="#" class="button button-rounded button-border button-white button-light nott">View Trailer</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('imgs/backtofuture.jpg'); background-size: cover">
						<div class="container clearfix">
							<div class="slider-caption top-left center">
								<h2 class="font-primary nott">BACK TO THE FUTURE</h2>
								<p class="t300 font-primary d-none d-sm-block">Raise your limits over</p>
								<a href="#" class="button button-rounded button-border button-white button-light nott">View Trailer</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('imgs/transformers_3.jpg'); background-size: cover">
						<div class="container clearfix">
							<div class="slider-caption top-left center">
								<h2 class="font-primary nott">TRANSFORMERS</h2>
								<p class="t300 font-primary d-none d-sm-block">Raise your limits over</p>
								<a href="#" class="button button-rounded button-border button-white button-light nott">View Trailer</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>

		</section>
	</div><!-- #wrapper end -->

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

</body>
</html>