<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Description" content="Web development at Dot where creativity meets technology" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="index,follow" />

    <link rel="stylesheet" href="./css/base.css" type='text/css'>

</head>

<body>
    <p style="color: #DDD; text-align: center; font-size: 16px; margin: 2%; font-family: sans-serif;">An error ocurred</p>
    </p>
    <div class="page page-404">
        <div class="container" id="container">
            <div class='fallback fillParent vAligner text-center'>
                <div class="vItem">
                    <h1>503</h1>
                    <p>Ups! it seems that the connection was lost, please try again later</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>